@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
  font-family: 'Arvo', serif;
}
#home-page
{
  background-image: url('./assets/heroSecond.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.ui.inverted.segment {
  margin: 0px;
}

// .ui.text.container {
//   background-color: 
// }

